[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pycodestyle = "*"
isort = "*"
green = "*"
pylint = "*"

[requires]
python_version = "3.9"
